.cascading-right {
    margin-right: -50px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }

  .cascading-right{
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
  }
  .bttLog{
    background-color: black;
    border: none;
    transition: 1s;
    margin-left: 10px;
    margin-left: 10px;
  }

  .bttLog:hover{
    background-color: rgb(231, 21, 21);
  }



  .labmdp a{
    color: rgb(231, 21, 21);
  }